$font-family: 'Merriweather', serif !default;
.profile-component{
    max-width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: rgb(202, 244, 255);
    .profile-info{
        font-family: $font-family;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profile-picture {
            border-radius: 50%;
            height: 200px;
            width: 200px;
        }
        h1 {
            font-size: 24px;
        }
        .contact-info {
            display: flex;
            align-items: center;
            font-size: 18px;
            img {
                height: 1 em;
                width: 1 em;
            }
        }
    }
    .concerts{
    
        display: flex;
        justify-content: flex-start;
        .headline{
            font-family: $font-family;
            font-size: 22px;
            font-weight: 100;
            text-decoration: underline;
        }
    }
        .concert-info {
            min-width: 500px;
            .accordion {
                background-color: rgb(0, 177, 221);
                font-size: 18px;
                color: rgb(0, 0, 0);
                cursor: pointer;
                padding: 18px;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;
              }
              .active, .accordion:hover {
                background-color: rgb(85, 211, 243);
                color: rgb(0, 0, 0);
              }
              .inactive {
                display: none;
              }
              .active {
                padding: 10px 18px;
                color: black;
                background-color: white;
                display: block;
                overflow: hidden;
              }
        }
    // .concert-info {
    //     position: relative;
    //     top:25px;
    //     min-width: 500px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     .concert-individual {

    //         .concert-details{
    //             img {
    //                 height: 1em;
    //                 width: 1em;
    //             }
    //             .concert-name{
    //                 font-family: 'Roboto', sans-serif;
    //             }
    //             .concert-date{
    //                 font-family: 'Roboto', sans-serif;
    //             }
    //         }
    //         .hidden{
    //             display: none;
    //         }
    //         .not-hidden{

    //         }
    //     }

    // }
}