.hide {
    display: none;
}
.song-list{

    .song-details.even{
        font-family: 'Robato', sans-serif;
         background-color: whitesmoke;
    }
    .song-details.odd{
        font-family: 'Robato', sans-serif;
        background-color: rgba(185, 184, 184, 0.808);
    }
}