$font-family: 'Merriweather', serif !default;

header {
    min-height: 12vh;
    min-width: 100vw;
    background-color: rgb(66, 171, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .header-logo {
      margin: 0 0 0 20px;
    }

    .title {
      font-size: 24px;
      font-family: 'Merriweather', serif;
    }
    
    .navigation-link {
      text-decoration: none;
      color: black;
      margin: 0 20px;
      font-size: 18px;
      font-family: 'Merriweather', serif;
    }

    .logout {
      margin: 0 10px;
      text-decoration: none;
    }

    .not-logged-in {
      font-size: 24px;
      font-family: 'Merriweather', serif;
      position: relative;
      right: 50px;
    }

    .hide {
      display: none;
    }

    .active {
      text-decoration: underline;
    }
  }
  