.login-page{
    background-image: url('../../media-library/music-background.jpg');
    height: 100vh;
    width: 100vw;
    .login-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid;
        min-height: 300px;
        min-width: 300px;
        width: 40vw;
        position: relative;
        margin: auto;
      .login-button {
           margin: 5px 0;
      }
    }
}